* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-family: sans-serif;
}


/* Para criarmos todas as variáveis com escopo global, declaramos todas elas dentro do seletor :root. O seletor :root corresponde ao elemento raiz do documento. */
:root {
  --cambridge-blue: #84a98cff;
  --black: #000000ff;
  --old-rose: #cb8589ff;
  --lavender-web: #eeeeffff;
  --hookers-green: #52796f;

  --ash-gray: #b1b6a6ff;
  --pearl: #eae0ccff;

}

html {
  width: 100%;
  height: 100vh;
}

body {
  background: var(--ash-gray);
  color: var(--black);
}

h1{
  color: var(--lavender-web);
  font-size: 2rem;
  font-weight: 700;
}

h2{
  padding: 1rem;
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

h3{
  padding: 1rem;
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

p{
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  padding: 0.5rem 0;
}

/* Definindo as configurações das classes de elemento Flexbox */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_start{
  display: flex;
  justify-content: flex-start;
}

#header_content{
  height: 80px;
  position: sticky; /*opção sticky, que cria o efeito do conteúdo da página passando por baixo da Seção Header ao rolar página. */
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--hookers-green);
  border-bottom: var(--cambridge-blue);
}

#menu li{
  display: inline;
  padding: 1rem;
}

#menu li a{
  text-decoration: none;
  color: var(--lavender-web);
  font-size: 20px;
}

#menu li a:hover{
  color: var(--old-rose);
  text-decoration: underline;
}

#about{
  flex-direction: column;
  margin: 2rem auto;
  width: 90%;
}

#conteudo{
  flex-direction: row;
  gap: 2rem;
}

.img_profile{
  width: 200px;
  border-radius: 50%;
  border-style: double;
  border-color: var(--pearl);
  border-width: thick;
}

#video{
  flex-direction: column;
  margin: 2rem auto;
  width: 90%;
}

#youtube{
  border-style: double;
  border-color: var(--pearl);
}

#video h2{
  text-align: center;
}

footer{
  flex-direction: column;
  margin: 0;
  padding: 2rem;
  color: var(--lavender-web);
  background-color:var(--cambridge-blue);
  font-weight: bold;
  text-align: center;
}

#redes_sociais {
    display: flex;
    justify-content: space-evenly; 
    margin: 1rem 0 0 0;
    width: 320px;
}

.social_icon {
    width: 4rem;
    height: 4rem;
}

.social_icon:hover {  
    filter: brightness(0) 
            saturate(100%) 
            invert(42%) 
            sepia(34%) 
            saturate(288%) 
            hue-rotate(115deg) 
            brightness(97%) 
            contrast(95%);
}

/*Estilização da Página de Contato*/

#contact{
  flex-direction: row;
  gap: 2rem;
}

form{
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 2rem 0;
  padding: 1.5rem;
  border: none;
}

form label {
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
}

form input,
textarea {
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    border-radius: 1.25rem;
    border: none;
    width: 100%;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 5rem;
}

form span{
    margin: 0 0 0.5rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: red;
}

form button {
    text-align: center;
    padding: 0.75rem 2rem;
    background: var(--hookers-green);
    border: 1px solid var(--cambridge-blue);
    color: var(--lavender-web);
    border-radius: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
}

form button:hover {
    background: var(--cambridge-blue);
}

#mapa{
  width: 480px;
  flex-direction: column;
  gap: 3rem;
}

#endereco > p{
  font-size: 1rem;
  text-align: justify;
  font-weight: 600;
  line-height: 10px;
}

/*estilização da página de projetos */

#post1{
  flex-direction: column;
  margin: 2rem auto;
  width: 90%;
}

#titulo1 > a {
  text-align:initial;
  margin-bottom: 2rem;
  display: block;
  padding-left: 1rem;
  color: var(--hookers-green)
}

#titulo1 > a:hover{
  color: var(--old-rose);
  text-decoration: underline;
}

#titulo1 > h2 {
  text-align: left;
  padding-bottom: 0.5rem;
}
#videotexto{
  flex-direction: row;
  gap: 2rem;

}